<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="app">
			<h1>Treasure hunt</h1>
			<!-- <button :click="startExploring">Start exploring</button> -->
			<div id="matrix">
				<div class="row" v-for="row in gameSet.board">
					<div class="col" v-for="col in row">
						<div :class="{
							land: col === 'X',
							mountain: col === 'M',
							treasureSpot: col > 0,
							top: col !== 'X' && col !== 'M' && typeof col === 'string' && getAdventurerByName(col).o === 'N',
							right: col !== 'X' && col !== 'M' && typeof col === 'string' && getAdventurerByName(col).o === 'E',
							bottom: col !== 'X' && col !== 'M' && typeof col === 'string' && getAdventurerByName(col).o === 'S',
							left: col !== 'X' && col !== 'M' && typeof col === 'string' && getAdventurerByName(col).o === 'O',
						}">{{ col }}</div>
					</div>
					<br>
				</div>
			</div>
		</div>
		<!-- Lib -->
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<!-- Enum -->
		<script src="js/enum/model.js"></script>
		<script src="js/enum/orientation.js"></script>
		<script src="js/enum/action.js"></script>
		<!-- Model -->
		<script src="js/model/abstract/coordinates.js"></script>
		<script src="js/model/map.js"></script>
		<script src="js/model/mountain.js"></script>
		<script src="js/model/treasure-spot.js"></script>
		<script src="js/model/adventurer.js"></script>
		<script src="js/model/game-set.js"></script>
		<!-- Set -->
		<!-- Uncomment the set you want to use -->
		<script src="js/set/set1.js"></script>
		<!-- App -->
		<script src="js/app.js"></script>
	</body>
</html>